@import "tailwindcss";


@font-face {
    font-family: 'Cherolina';
    src: url('https://fonts.cdnfonts.com/s/36001/Cherolina-K70JW.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
.head {
    font-family: 'Cherolina', sans-serif;
}

@font-face {
  font-family: "body1";
  src: url("/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.body1 {
  font-family: "body1";
}

@font-face {
  font-family: "body2";
  src: url("/fonts/Sergio-Trendy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.body2 {
  font-family: "body2";
}

